**În această sarcină trebuie să folosești agoritmul DecisionTreeClassifier de la sklearn pentru a prezice daca salariul unei persoane este mai mare sau mai mic de 50K **

Valori unice ale tuturor caracteristicilor (pentru mai multe informații, consultați linkul de mai sus):
- `age`: continuous.
- `workclass`: Private, Self-emp-not-inc, Self-emp-inc, Federal-gov, Local-gov, State-gov, Without-pay, Never-worked.
- `fnlwgt`: continuous.
- `education`: Bachelors, Some-college, 11th, HS-grad, Prof-school, Assoc-acdm, Assoc-voc, 9th, 7th-8th, 12th, Masters, 1st-4th, 10th, Doctorate, 5th-6th, Preschool.
- `education-num`: continuous.
- `marital-status`: Married-civ-spouse, Divorced, Never-married, Separated, Widowed, Married-spouse-absent, Married-AF-spouse.
- `occupation`: Tech-support, Craft-repair, Other-service, Sales, Exec-managerial, Prof-specialty, Handlers-cleaners, Machine-op-inspct, Adm-clerical, Farming-fishing, Transport-moving, Priv-house-serv, Protective-serv, Armed-Forces.
- `relationship`: Wife, Own-child, Husband, Not-in-family, Other-relative, Unmarried.
- `race`: White, Asian-Pac-Islander, Amer-Indian-Eskimo, Other, Black.
- `sex`: Female, Male.
- `capital-gain`: continuous.
- `capital-loss`: continuous.
- `hours-per-week`: continuous.
- `native-country`: United-States, Cambodia, England, Puerto-Rico, Canada, Germany, Outlying-US(Guam-USVI-etc), India, Japan, Greece, South, China, Cuba, Iran, Honduras, Philippines, Italy, Poland, Jamaica, Vietnam, Mexico, Portugal, Ireland, France, Dominican-Republic, Laos, Ecuador, Taiwan, Haiti, Columbia, Hungary, Guatemala, Nicaragua, Scotland, Thailand, Yugoslavia, El-Salvador, Trinadad&Tobago, Peru, Hong, Holand-Netherlands.   
- `salary`: >50K,<=50K

Apropo, ai lucrat anterior cu acest set de date in lectia 3.

In [ ]:
import pandas as pd

In [ ]:
!mkdir data && curl -o data/adult.data.csv -LJO https://github.com/dianaartiom/machine_learning_with_python/raw/main/lesson03/notebooks/data/adult.data.csv

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
100 3436k  100 3436k    0     0  3726k      0 --:--:-- --:--:-- --:--:-- 3726k

In [ ]:
data = pd.read_csv('data/adult.data.csv')
data.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

Preproceseaza datele precum am invatat in lectiile anterioare. Vezi lectia asta pentru a-ti reimprospata memoria (sectiunea Observatie despre pregatirea datelor): https://colab.research.google.com/drive/1C0wQef4NFzaOT5vfdU0btdL-9rnnf0my?usp=sharing

In [ ]:
# metodele tale de preprocesare aici:

Separa setul in date -> X si label -> y (coloana *Target*):

In [ ]:
# X = ...
# y = ...

Imparte setul de date in: date de antrenare si date pentru test cu ajutorul functiei *train_test_split* din modulul *sklearn.model_selection*.

In [ ]:
# X_train, X_test, y_train, y_test = ...

Instantiaza modelul de *DecisionTreeClassifier* pe care-l importi din *sklearn.tree* si antreneaza-l pe setul de antrenare.
https://scikit-learn.org/stable/modules/generated/sklearn.tree.DecisionTreeClassifier.html

In [ ]:
# codul tau aici

Calculeaza acuratetea, precision si recall a prezicerilor vs. datele reale atat pe setul de train cat si pe setul de test. Cum sa faci asta iti poti aminti din tema pentru acasa a lectiei 6 (logistic regression). https://colab.research.google.com/drive/1lSj5sW02zurCH8HhoZX27tK7FcDIUCS2?usp=sharing

In [ ]:
# codul tau aici

Foloseste metoda *plot_tree* din *tree* importat din *sklearn* pentru a vizualiza arborele de decizie.

In [ ]:
# codul tau aici

## Challenge: Incerca sa folosesti diferite combinatii pentru diferiti parametri de intrare pentru *DecisionTreeClassifier*.

Todo: citeste despre hyperparameter optimization cu grid search.